@font-face {
    font-family: Anton;
    src: url('./fonts/Anton/Anton-Regular.ttf');
}
@font-face {
    font-family: HindSiliguri;
    src: url('./fonts/HindSiliguri/HindSiliguri-Regular.ttf');
}
@font-face {
    font-family: HindSiliguri Light;
    src: url('./fonts/HindSiliguri/HindSiliguri-Light.ttf');
}